#pronunciation {
	z-index: 100;
	min-width: calc(100vw - 60vmin);
	max-width: calc(100vw - 60vmin);

	padding-top: 0;
}
#pronunciation > span,
.pronunciation {
	display: block;
	color: #444;
	white-space: pre-wrap;
}
#pronunciation > span {
	padding: 2vmin 0 2vmin 0;
}
.pick_dialog .pronunciation_nonempty + button {
	margin-top: 0.1em;
}
.pronunciation_longtext {
	text-align: left;
}

#left_score,
#right_score {
	position: absolute;
	font-size: 80px; /* legacy (for now) */
	font-size: 15vmin;
	padding: 4vmin;
	bottom: 1vmin;
	z-index: 200;
}
#left_score {
	left: 0; /* legacy */
	left: 1vmin;
}
#right_score {
	right: 0; /* legacy */
	right: 1vmin;
}
@media screen and (min-aspect-ratio: 18/10) {
	#left_score,
	#right_score {
		font-size: 22vmin;
	}
}

.pick_dialog,
.exception_dialog,
#pronunciation {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 40%;
	min-width: 80vmin;
	max-width: 100%;
	font-size: 5vmin;
	margin: 0 auto;
	padding: 2% 2% 0 2%;
	background: rgba(255, 255, 255, 0.95);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	z-index: 100;
}
.pick_dialog,
.exception_dialog {
	z-index: 300;
}
.pick_dialog button {
	font-size: inherit;
	display: block;
	margin: 1em 0 1em 0;
	width: 100%;
	padding: 0.5em 0;
	white-space: pre-wrap;
}
.pick_dialog button + button {
	margin-top: 1.5em;
}
.pick_dialog select {
	font-size: 4vmin;
}

@media screen and (max-aspect-ratio: 3/4) {
	#left_score,
	#right_score {
		font-size: 20vmin;
		padding: 1vmin;
		bottom: 0;
		width: 25vmin;
		height: 25vmin;
	}

	#pronunciation {
		bottom: 25vmin;
		min-width: auto;
		max-width: none;
		width: 94%;
	}
}
