.displaymode_layout {
	left: 0; right: 0;
	top: 0;
	min-height: 100vh;
	z-index: 2000;
	position: absolute;
	background: #000;
	color: #fff;
}

.display_courts_court {
	margin: 0 2vw 0 2vw;
	position: relative;
}
.display_courts_court, .display_courts_separator {
	float: left;
}

.display_courts_player_names_singles, .display_courts_player_names_doubles {
	height: 12vmin;
}
.display_courts_player_names_singles {
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
.display_courts_player_name {
	font-size: 5vmin;
}

.display_courts_team_row {
	height: 4vmin;
}
.display_courts_team_name {
	font-size: 3vmin;
	height: 100%;
	white-space: pre;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
.display_courts_current_score_home,.display_courts_current_score_away {
	position: absolute;
	font-size: 12vmin;
	line-height: 12vmin;
	right: 0;
}
.display_courts_current_score_home {
	top: 0;
}
.display_courts_current_score_away {
	bottom: 0;
}

.display_courts_prev_scores_home, .display_courts_prev_scores_away {
	font-size: 3vmin;
		float: right;
}
.display_courts_prev_score_lost, .display_courts_prev_score_won {
	display: inline-block;
	margin: 0 1vw;
	min-width: 1.2em;
	text-align: right;
}
.display_courts_prev_score_lost {

}
.display_courts_prev_score_won {
	font-weight: bold;
}
