.displaymode_layout {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2000;
	background: #000;
	color: #fff;
}

.display_courts_container,
.display_list_container {
	position: relative;
	margin: 0 1vw;
}

.display_courts_container {
	margin-top: 1vmin;
	text-align: center;
}
.display_courts_container::after {
	clear: both;
	content: '';
	display: block;
}
.display_courts_court {
	margin: 0 0 0 0;
	text-align: left;
	position: relative;
}
.display_courts_court,
.display_courts_separator {
	display: inline-block;
	overflow: hidden;
}
.display_courts_separator {
	height: 32vmin;
	width: 4%;
}

/* dcs = display court score (score display for one court) */
.dcs_player_names_singles {
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
.dcs_player_name {
	white-space: pre;
}
.dcs_player_serving {
	color: #ddf;
}
.dcs_team_name {
	height: 100%;
	white-space: pre;
	color: #cfcfcf;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}

.dcs_current_score_top,
.dcs_current_score_bottom {
	position: absolute;
	right: 0;
}
.dcs_current_score_top {
	top: 0;
}
.dcs_current_score_bottom {
	bottom: 0;
}
.dcs_prev_scores_top,
.dcs_prev_scores_bottom {
	float: right;
}
.dcs_prev_score_lost,
.dcs_prev_score_won {
	display: inline-block;
	margin: 0 0.4em;
	min-width: 1.2em;
	text-align: right;
}
.dcs_prev_score_won {
	color: #dba766;
}


.display_courts_court .dcs_team_row {
	height: 4vmin;
}
.display_courts_court .dcs_team_name {
	font-size: 3vmin;
}
.display_courts_court .dcs_current_score_top,
.display_courts_court .dcs_current_score_bottom {
	font-size: 12vmin;
	line-height: 12vmin;
}
.display_courts_court .dcs_prev_scores_top,
.display_courts_court .dcs_prev_scores_bottom {
	font-size: 3vmin;
}
.display_courts_court .dcs_player_names_singles,
.display_courts_court .dcs_player_names_doubles {
	height: 12vmin;
}
.display_courts_court .dcs_player_name {
	font-size: 5vmin;
	height: 6vmin;
}


.d_oncourt {
	position: relative;
	margin: 5vmin 2vmin 0 2vmin;
}
.d_oncourt .dcs_team_row {
	height: 12vmin;
}
.d_oncourt .dcs_team_row_top {
	margin-top: 2vmin;
	margin-bottom: 3vmin;
}
.d_oncourt .dcs_team_row_bottom {
	margin-top: 3vmin;
	margin-bottom: 2vmin;
}
.d_oncourt .dcs_team_name {
	font-size: 10vmin;
	color: #888;
}
.d_oncourt .dcs_current_score_top,
.d_oncourt .dcs_current_score_bottom {
	font-size: 32vmin;
	line-height: 32vmin;
}
.d_oncourt .dcs_prev_scores_top,
.d_oncourt .dcs_prev_scores_bottom {
	font-size: 10vmin;
}
.d_oncourt .dcs_player_names_singles,
.d_oncourt .dcs_player_names_doubles {
	height: 30vmin;
}
.d_oncourt .dcs_player_name {
	font-size: 12vmin;
	height: 15vmin;
}


.display_list_container {
	margin-top: 3.5vmin;
	font-size: 3.2vmin;
	width: 98vw;
	border-collapse: collapse;
	table-layout: fixed;
}
.display_list_thead {
	border-bottom: 0.3vmin solid #666;
}
.display_list_container tr th {
	padding-bottom: 1vmin;
}
.display_list_container tr td {
	vertical-align: middle;
	padding-top: 1.5vmin;
	padding-bottom: 1.5vmin;
}
.display_list_container tr:nth-child(even) {
	background-color: #272727;
}

.display_list_teamname,
.display_list_player_names {
	width: 28%;
	padding-left: 0.2em;
}
.display_list_player_names_wrapper {
	width: 100%;
	height: 1.1em;
	overflow: hidden;
}
.display_list_player_names {
	white-space: pre;
}
.display_list_teamname {
	white-space: pre;
	text-align: left;
	font-weight: normal;
	color: #cfcfcf;
}
.display_list_teamname > div {
	height: 1.1em;
}
.display_list_match_name {
	width: 7%;
}
.display_list_container tr td.display_list_match_name {
	padding: 0;
	padding-right: 0.5em;
	vertical-align: middle;
	text-align: right;
	font-size: 2.5vmin;
	color: #cfcfcf;
	font-style: italic;
}
.display_list_winning {
	font-weight: bold;
	color: #dba766;
}
.display_list_matchscore {
	text-align: center;
	font-weight: bold;
}
.display_list_game_score {
	text-align: center;
	white-space: pre;
	padding-left: 0.4em;
}
.display_list_vs {
	color: #cfcfcf;
}

.display_loading {
	background-image: url(../icons/loading.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 3vmin);
	left: calc(50% - 3vmin);
	width: 6vmin;
	height: 6vmin;
}
.display_error {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100000;
	color: #f00;
	font-weight: bold;
	font-size: 3vmin;
	background: rgba(0, 0, 0, 0.8);
	padding: 2vmin 2vmin 1vmin 1vmin;
	border-top-right-radius: 4vmin;
}

.d_international_team {
	font-stretch: condensed;
	position: relative;
	height: 50%;
}
.d_international_player_container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}
.d_international_player {
	width: 100%;
	font-size: 12vh;
	display: flex;
	align-items: center;
}
.d_international_score {
	font-size: 50vh;
	line-height: 50vh;
	width: 52vh;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
.d_international_score.d_international_score_dd {
	letter-spacing: -4vh;
	text-align: left;
}
.d_international_gscore {
	font-size: 20vh;
	line-height: 20vh;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 52vh;
	width: 20vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}


.d_2court_side0,
.d_2court_side1 {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
}
.d_2court_side0,
.d_2court_side0 .d_2court_score {
	left: 0;
}
.d_2court_side1,
.d_2court_side1 .d_2court_score {
	right: 0;
}
.d_2court_team0,
.d_2court_team1 {
	font-stretch: condensed;
	position: relative;
	height: 50%;
}
.d_2court_score {
	position: absolute;
	font-size: 44vh;
	line-height: 50vh;
	width: 44vh;
	height: 100%;
	text-align: center;
}
.d_2court_score_digit0 {
	position: absolute;
	left: 0;
}
.d_2court_score_digit1 {
	position: absolute;
	right: 0;
}
.d_2court_gscore {
	font-size: 30vh;
	line-height: 30vh;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 0 2vh;
	width: 20vh;
	display: flex;
	justify-content: center;
}
.d_2court_team0 .d_2court_gscore {
	align-items: flex-start;
}
.d_2court_team1 .d_2court_gscore {
	align-items: flex-end;
}
.d_2court_info {
	font-size: 12vh;
	line-height: 15vh;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.d_2court_side0 .d_2court_info,
.d_2court_side0 .d_2court_gscore {
	left: 44vh;
}
.d_2court_side1 .d_2court_info,
.d_2court_side1 .d_2court_gscore {
	right: 44vh;
}
.d_2court_divider {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 49.8vw;
	right: 49.8vw;
}
.d_2court_timer {
	position: absolute;
	top: 40vh;
	font-size: 20vh;
	line-height: 20vh;
	min-width: 2ch;
	padding: 0 1vh;
	text-align: right;
}
.d_2court_side0 .d_2court_timer {
	left: 0;
	border-bottom-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
}
.d_2court_side1 .d_2court_timer {
	right: 0;
	border-bottom-left-radius: 0.2em;
	border-top-left-radius: 0.2em;
}
.d_2court_teamname0,
.d_2court_teamname1 {
	position: absolute;
	font-size: 10vh;
	text-align: center;
	left: 50vh;
	right: 50vh;
	white-space: pre;
	z-index: 10001;
}
.d_2court_teamname0 {
	top: 30vh;
}
.d_2court_teamname1 {
	bottom: 30vh;
}

.d_castall_bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.d_castall_bottom {
	position: fixed;
	bottom: 90px;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: center;
}
.d_castall_bottom_block {
	display: inline-block;
	width: 670px;
	height: 55px;
	border-radius: 12px;
}
.d_castall_bottom_team0,
.d_castall_bottom_team1 {
	width: 262px;
	height: 100%;
	font-size: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.d_castall_bottom_team0 {
	float: left;
	margin-left: 8px;
}
.d_castall_bottom_team1 {
	margin-right: 8px;
	float: right;
}
.d_castall_bottom_team_name {
	white-space: pre;
}
.d_castall_score0,
.d_castall_score1 {
	height: 100%;
	width: 65px;
	display: inline-flex;
	font-size: 55px;

	justify-content: center;
	align-items: center;
}
