.setup_eventsheets {
	display: inline-block;
}

.eventsheet_button {
	position: relative;
}

.eventsheet_container {
	text-align: center;
}
.eventsheet_dialog {
	display: inline-block;
	background: #fff;
	padding: 0 1em;
	margin: 0 auto;
	font-size: 28px;
	text-align: left;
	border-radius: 1em;
}
.eventsheet_form {
	display: inline-block;
}
.eventsheet_form input[type="text"],
.eventsheet_form input[type="number"] {
	width: 15em;
	font-size: inherit;
}
.eventsheet_report > * {
	text-align: left;
}
.eventsheet_button_row {
	text-align: center;
}
.eventsheet_report > *,
.eventsheet_button_row {
	width: auto;
	display: block;
	margin: 1em 0 0.5em 0;
}
.eventsheet_report > label > span {
	display: inline-block;
	min-width: 16em;
}
.eventsheet_form button {
	font-size: inherit;
	padding: 0.3em 0.5em;
}
.eventsheet_generate_button {
	position: relative;
	margin-left: 6em;
}
.eventsheet_generate_loading_icon {
	float: right;
}
.eventsheet_error {
	color: #f00;
	font-weight: bold;
}
.eventsheet_reload {
	display: inline-block;
	background-image: url(../icons/reload.svg);
	margin-left: 1em;
	width: 2em;
	height: 2em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.eventsheet_download_link_container {
	margin: 1em 0 0.5em 0;
}

@media screen and (max-width: 480px) {
	.eventsheet_dialog {
		padding: 0 0.5em 0.5em 0;
	}
	.eventsheet_report > label > span {
		font-size: 50%;
	}
	.eventsheet_report > * {
		margin: 0;
	}
	.eventsheet_report > label > * {
		display: block;
		max-width: 90vw;
	}

	.eventsheet_button_row {
		max-width: 100vw;
	}
	.eventsheet_generate_loading_icon {
		position: absolute;
		z-index: 1000;

		/* stylelint-disable */
		float: none;
		/* stylelint-enable */
	}
	.eventsheet_generate_button {
		display: block;
		margin: 0.5em auto 0 auto;
	}
}

.eventsheet_preview {
	height: 85vh;
}
.eventsheet_form .eventsheet_print_button,
.eventsheet_form .eventsheet_pdf_button {
	margin-left: 10vw;
	min-width: 5em;
	font-size: 4vmin;
}

@media print {
	.eventsheet_button_row {
		display: none;
	}
	.eventsheet_dialog {
		display: block;
		margin: 0;
		padding: 0;
	}
	.eventsheet_form {
		display: block;
	}
	.eventsheet_preview {
		width: 99vw;
		height: 99vh;
	}
}
