.network_desync_container {
	position: absolute;
	top: 16vh;
	left: 0;
	padding: 0.8em 1em;
	background: rgba(255, 255, 255, 0.9);
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
}
.network_error {
	color: red;
	font-weight: bold;
}
.network_desync_image {
	float: left;
	background-image: url(../icons/desync.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 2em;
	height: 2em;
}
.network_desync_image_preload {
	background-image: url(../icons/desync.svg);
	position: absolute;
	left: -999px;
	width: 1px;
	height: 1px;
	top: 0;
}
.network_desync_login_container h2 {
	margin: 0 0 1vh 0;
}
.network_desync_errmsg {
	user-select: auto;
	text-align: left;
	clear: left;
	color: red;
	font-weight: bold;
	padding: 0.5em 0 0 0;
	white-space: pre-wrap;
}

.network_court_fetch_status {
	text-align: center;
	padding: 2vmin;
	color: #fff;
	font-size: 10vmin;
}
.network_court_fetch_error {
	position: fixed;
	bottom: 0;
	padding: 2vmin;
	font-size: 8vmin;
	background: #fff;
	color: #f00;
}
.network_court_fetch_retry {
	display: block;
	margin: 10vmin auto 0 auto;
	width: 40vmin;
	height: 40vmin;
}
.network_court_fetch_retry > span {
	background-image: url(../icons/reload.svg);
}

.loading-icon,
.error-icon,
.success-icon {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 2em;
	height: 2em;
}
.loading-icon {
	background-image: url(../icons/loading.gif);
}
.error-icon {
	background-image: url(../icons/error.svg);
}
.success-icon {
	background-image: url(../icons/checkmark.svg);
}

button > .loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#setup_network_matches {
	margin: 0 -1em;
}
.setup_network_match {
	min-width: 18em;
	max-width: 90%;
	margin: 1em;
	padding: 0.5em 0 0.5em 0;
}
.setup_network_match_match_name {
	font-size: 180%;
}
.setup_network_match > span {
	display: block;
	text-align: center;
}
.setup_network_matches_loading > * {
	vertical-align: middle;
}
.setup_network_matches_loading > .loading-icon {
	margin-left: 1.5vmin;
	display: inline-block;
	width: 1em;
	height: 1em;
}
#setup_network_matches > .network_error {
	margin-left: 1.5vmin;
}
.setup_network_match_score {
	font-style: italic;
}
.setup_network_umpire_name {
	color: #444;
}

.setup_network_heading::after {
	/* Set line-height to height, so that we can vertically center with vertical-align: middle; */
	content: '';
	display: inline-block;
	height: 100%;
}
.setup_network_heading > * {
	vertical-align: middle;
}
.setup_network_matches_reload {
	display: inline-block;
	margin: 0 0 0 0.6em;

	/* Will be larger on Mobile Safari because of brain-dead minimum button width */
	width: 1em;
	height: 1em;
}
.setup_network_matches_reload > span {
	background-image: url(../icons/reload.svg);
}

.setup_linkline {
	margin-top: 0.8em;
	margin-bottom: 1em;
}
.setup_linkline a:not(:last-child),
.setup_linkline > div > a {
	display: inline-block;
	margin-right: 2em;
	margin-bottom: 1.5em;
}
.setup_linkline a {
	white-space: pre;
}

/* Smartphones */
@media screen and (max-device-width: 480px) {
	#setup_network_matches {
		text-align: center;
	}
}

.setup_network_status {
	display: inline-block;
	margin-left: 0.8em;
}
.setup_network_status > div {
	display: inline-block;
}
