.login_button {
	position: relative;
}
.network_desync_container {
	position: absolute;
	top: 16vh;
	left: 0;
	padding: 0.8em 1em;
	background: rgba(255, 255, 255, 0.9);
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
}
.network_error {
	color: red;
	font-weight: bold;
}
.network_desync_image {
	float: left;
	background-image: url(../icons/desync.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 5em;
	height: 5em;
}
.network_desync_image_preload {
	position: absolute;
	left: -999px;
	width: 1px;
	height: 1px;
	top: 0;
}
.network_desync_login_container h2 {
	margin: 0 0 1vh 0;
}
.network_desync_errmsg {
	text-align: center;
	clear: left;
	color: red;
	font-weight: bold;
	padding: 1em 0 0 0;
}

.loading-icon {
	background-image: url(../icons/loading.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 2em;
	height: 2em;
}
button>.loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
	.settings_login>button, .settings_login>input {
		display: block;
		margin: 1em auto 1em auto;
	}
}


#setup_network_matches {
	margin: 0 -1em;
}
.setup_network_match {
	min-width: 18em;
	max-width: 90%;
	margin: 1em;
	padding: 0.5em 0 0.5em 0;
}
.setup_network_match_match_name {
	font-size: 180%;
}
.setup_network_match>span {
	display: block;
	text-align: center;
}
.setup_network_matches_loading>* {
	vertical-align: middle;
}
.setup_network_matches_loading>.loading-icon {
	margin-left: 1.5vmin;
	display: inline-block;
}
#setup_network_matches>.network_error {
	margin-left: 1.5vmin;
}
.setup_network_match_score {
	font-style: italic;
}


.setup_network_heading:after {
	/* Set line-height to height, so that we can vertically center with vertical-align: middle; */
	content: '';
	display: inline-block;
	height: 100%;
}
.setup_network_heading>* {
	vertical-align: middle;
}
.setup_network_matches_reload {
	display: inline-block;
	margin: 0 0 0 0.6em;
	background-image: url(../icons/reload.svg);
	width: 1em;
	height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.setup_eventsheets {
	display: inline-block;
	margin-right: 2em;
}

/* Smartphones */
@media screen and (max-device-width:480px) {
	#setup_network_matches {
		text-align: center;
	}
}
