.order_config_container,
.order_result {
	text-align: left;
}

div.order_container {
	padding-top: 0;
}
.order_container > h2 {
	margin: 0;
	padding: 0;
	text-align: center;
}

.order_display_container {
	text-align: left;
}
.order_clear {
	clear: both;
}
.order_num,
.order_match {
	height: 3em;
}
.order_ignore_match {
	height: 2em;
	position: relative;
	visibility: hidden;
}


.order_finished {
	color: #666;
}
.order_ongoing {
	color: #44f;
}
.order_conflict1 {
	color: red;
}
.order_conflict2 {
	color: orange;
}
.order_conflict3 {
	color: #aa5500;
}
@media print {
	.order_conflict1 {
		font-weight: bold;
	}
	.order_conflict1,
	.order_conflict2,
	.order_conflict3 {
		color: #000;
	}
}


.order_display {
	/* left side for nums, right for lock */
	margin: 1em 2em;
}

.order_num_container {
	position: relative;
	height: 0;
}
.order_num {
	position: absolute;
	left: -2em;
	top: 0.5em;
	width: 2em;
	height: 2em;
	color: #aaa;
	line-height: 2em;
}
.order_num_invisible {
	visibility: hidden;
}

.order_ignore_match.order_ignore_match_active {
	visibility: visible;
}
.order_ignore_label {
	font-style: italic;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #000;
	cursor: pointer;
}
.order_ignore_label:hover {
	color: #003380;
}

.order_insert_container {
	position: relative;
	height: 0;
}
.order_insert {
	position: absolute;
	left: -2em;
	top: -1em;
	width: 2em;
	height: 2em;
	background-image: url(../icons/insert_mark.svg);
	background-size: 100%;
	cursor: pointer;
}
.order_insert:hover {
	background-image: url(../icons/insert_mark_active.svg);
}
.order_insert_active {
	background: #eee;
	opacity: 0.5;
}

.order_lock_container,
.order_rm_container {
	position: relative;
	height: 0;
}
.order_lock {
	position: absolute;
	right: -2.5em;
	top: 0.5em;
	width: 2em;
	height: 2em;
	background-image: url(../icons/unlocked.svg);
	background-size: 100%;
	cursor: pointer;
	opacity: 0.4;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.order_lock:hover {
	opacity: 1;
}
.order_lock.order_lock_locked {
	background-image: url(../icons/locked.svg);
	opacity: 1;
}

.order_rm {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	width: 2em;
	height: 2em;
	background-image: url(../icons/delete.svg);
	background-size: 100%;
	cursor: pointer;
	opacity: 0.05;
}
.order_rm:hover {
	opacity: 1;
}

.order_match {
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.order_match:hover {
	background: #ddd;
}
.order_match_name {
	width: 3em;
}
.order_match_team {
	width: 11em;
}
.order_player {
	display: block;
}
.order_match_time {
	width: 3em;
}
.order_match_time > span {
	display: block;
}

.order_buttons {
	position: relative;
	font-size: 150%;
}
.order_buttons > * {
	font-size: inherit;
}
.order_reset,
.order_optimize,
.order_change {
	margin-left: 5vw;
}

.order_print {
	font-size: 150%;
	position: absolute;
	top: 0;
	right: 0;
}

.order_container {
	position: relative;
	font-size: 3vmin;
}

@media screen and (max-height: 900px) {
	.order_header {
		display: none;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	.order_back {
		position: absolute;
		left: 0;
		top: 2.2em;
	}
	.order_reset {
		margin-left: 0;
	}
	.order_buttons {
		margin-bottom: 2em;
	}
}

@media print {
	.order_container > h2 {
		margin-top: 1em;
	}
	.order_buttons {
		display: none;
	}
	.order_print {
		display: none;
	}
}

.order_add > input,
.order_import > input {
	margin-right: 0.5em;
}
.order_import {
	margin-top: 1em;
}

.order_add > input,
.order_add > button,
.order_import > input,
.order_import > button {
	padding: 0.5vh 0.3vw;
	font-size: 70%;
}

.order_edit {
	text-align: left;
	margin-top: 2em;
}
.order_error {
	text-align: left;
	font-size: 4vmin;
	color: red;
}
