.order_config_container, .order_result {
	text-align: left;
}

.order_container>h2 {
	margin: 0;
	padding: 0;
	text-align: center;
}

.order_display_container {
	text-align: left;
}
.order_clear {
	clear: both;
}
.order_num, .order_match, .order_ignore_match {
	height: 3em;
}

.order_nums,.order_display {
	margin: 1em 0;
}
.order_nums {
	/* Account for 3em of ignored match area */
	margin-bottom: 4em;
}

.order_nums {
	float: left;
	width: 2em;
}
.order_display {
	float: left;
}
.order_num {
	color: #aaa;
	vertical-align: middle;
	line-height: 3em;
}
.order_num_invisible {
	visibility: hidden;
}

.order_ignore_match {
	position: relative;
	visibility: hidden;
}
.order_ignore_match.order_ignore_match_active {
	visibility: visible;
}
.order_ignore_label {
	font-style: italic;
	text-align: center;
	position: absolute;
	left: 0; right: 0;
	bottom: 0;
	border-top: 1px solid #000;
	cursor: pointer;
}
.order_ignore_label:hover {
	color: #003380;
}

.order_insert_container {
	position: relative;
	height: 0;
}
.order_insert {
	position: absolute;
	left: -2em;
	top: -1em;
	width: 2em;
	height: 2em;
	background-image: url(../icons/insert_mark.svg);
	background-size: 100%;
	cursor: pointer;
}
.order_insert:hover {
	background-image: url(../icons/insert_mark_active.svg);
}
.order_insert_active {
	background: #eee;
	opacity: 0.5;
}


.order_lock_container {
	position: relative;
	height: 0;
}
.order_lock {
	position: absolute;
	right: -2.5em;
	top: 0.5em;
	width: 2em;
	height: 2em;
	background-image: url(../icons/unlocked_inactive.svg);
	background-size: 100%;
	cursor: pointer;
}
.order_lock:hover {
	background-image: url(../icons/unlocked.svg);
}
.order_lock.order_lock_locked {
	background-image: url(../icons/locked.svg);
}


.order_match {
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.order_match:hover {
	background: #ddd;
}
.order_match_name {
	width: 3em;
}
.order_match_team {
	width: 10em;
}
.order_player {
	display: block;
}

.order_buttons {
	font-size: 150%;
}
.order_buttons>* {
	font-size: inherit;
}
.order_buttons>*+* {
	margin-left: 2em;
}