.refmode_client_referee_list {
	margin: 2em 0;
}
.refmode_client_referee_list > div > span {
	cursor: pointer;
	padding: 1em 0;
}
.refmode_client_referee_list > div > span:hover {
	background: #ccc;
}
.refmode_client_referee_list > div > span[data-paired]::before {
	content: '✔ ';
}
.refmode_client_referee_list > div > span[data-paired]:hover {
	background: #ecc;
}
.refmode_client_referee_list > div > span[data-paired]:hover::before {
	content: 'X ';
}
