.referee_layout {
	padding: 3vh 0 0 3vw;
	z-index: 20000;
	position: relative;
	font-size: 18px;
}
.referee_layout button {
	font-size: inherit;
}

.referee_clients {
	display: inline-block;
	min-width: 50vw;
	padding: 1vmin;
	background: #eee;
}

.referee_c {
	border: 1px solid #000;
	background: #fff;
	padding: 1vmin;
}
.referee_c + .referee_c {
	margin-top: 2vmin;
}
.referee_c_buttons {
	float: right;
}
.referee_c_buttons > label {
	display: inline;
}
.referee_c_subscribe {
	margin-right: 1.5em;
}
.referee_editform {
	display: inline-block;
}
