.refmode_client_referee_list {
	margin: 2em 0;
}
.refmode_client_referee_list > div > span {
	cursor: pointer;
	padding: 1em 0;
}

.refmode_client_authref {
	display: inline-block;
	margin: 0 1em;
}
.refmode_client_rmbtn {
	height: 1.2em;
	width: 1.2em;
	margin-left: 0.2em;
}
