.setupsheet_layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	font-size: 24px;
	text-align: center;
	background: #000;
	z-index: 2000;
}

.setupsheet_container {
	background: #fff;
	color: #000;
	padding: 0 0.5em 0.5em 0.5em;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.setupsheet_error {
	color: red;
	font-size: 200%;
}

.setupsheet_tables {
	column-width: 32em;
	column-gap: 1em;
}
.setupsheet_table {
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	border-collapse: collapse;
}
.setupsheet_table td,
.setupsheet_table th {
	border: 1px solid #ccc;
}
.setupsheet_table td.setupsheet_dark,
.setupsheet_table th.setupsheet_dark {
	border: none;
}
.setupsheet_table tr :first-child {
	border-left: none;
}
.setupsheet_table tr :last-child {
	border-right: none;
}
.setupsheet_table th.setupsheet_team_name {
	border: none;
}

.setupsheet_x_cell {
	position: relative;
}
.setupsheet_x {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	right: 0;
	z-index: 2000;
	text-align: center;
}
.setupsheet_table .setupsheet_match_name_hint {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	color: #cce;
	z-index: 1999;
}
.setupsheet_table tr:hover .setupsheet_player_name {
	background: #cce;
}


.setupsheet_table tr:hover .setupsheet_match_name_hint {
	display: block;
}
.setupsheet_table tr:hover td:hover .setupsheet_match_name_hint {
	color: #449;
}

.setupsheet_x_marked {
	background: #eef;
}

.setupsheet_player_name {
	min-width: 10em;
}
.setupsheet_team_name {
	text-align: left;
}
.setupsheet_table > tbody th {
	min-width: 2.9em;
}
.setupsheet_dark {
	background: #c0c0c0;
}

.setupsheet_header,
.setupsheet_player_name {
	text-align: left;
}
.setupsheet_new {
	text-align: left;
}
.setupsheet_new select {
	min-width: 10em;
}
