.stats_layout,
.netstats_layout,
.order_layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	font-size: 24px;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2000;
}

.stats_container,
.netstats_container,
.order_container {
	display: inline-block;
	background: #fff;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	text-align: center;
	padding: 1em;
}
.stats_top_back_link {
	display: block;
	float: left;
}

.stats_table > thead > tr > th,
.netstats_table > thead > tr > th {
	padding: 0 0.4em;
}
.stats_table > tbody > tr > th,
.netstats_table > tbody > tr > th {
	text-align: left;
}
.stats_table > tbody > tr > td,
.netstats_table > tbody > tr > td {
	text-align: right;
}

.stats_match_name {
	margin: 0 0 1em;
	font-size: 80%;
}
.stats_graph {
	display: block;
	width: 90vmin;
	height: 37.5vmin;
}

.stats_presses td {
	vertical-align: top;
}
.stats_presses_timestamp {
	color: #999;
}
.stats_presses_timestamp.stats_presses_highlight {
	color: #222;
}
.stats_presses_desc {
	text-align: left;
	white-space: pre-line;
}
.stats_presses_sdesc {
	text-align: left;
	white-space: pre-line;
}
