.urlexport_status,
.urlexport_urlform > label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1em;
}
.urlexport_status .loading-icon,
.urlexport_status .error-icon,
.urlexport_status .success-icon {
	height: 1em;
	width: 1em;
	margin-right: 0.3em;
}

.urlexport_form {
	margin-bottom: 1em;
}

.urlexport_form label {
	display: block;
	margin-bottom: 0.5em;
}
.urlexport_form label span + input {
	margin-left: 0.5em;
}
.urlexport_form input,
.urlexport_form button {
	font-size: inherit;
}

.urlexport_input:invalid {
	outline: 1px solid red;
}
