.urlimport_error {
	color: red;
	user-select: auto;
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
}
.urlimport_button {
	position: relative;
}
