{
    "rules": {
        "indent": 0,
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        " (library names) ": 1,
        "$": 1,
        "jsPDF": 1,
        "Mousetrap": 1,
        "pdfform": 1,
        "saveAs": 1,

        " (module names) ": 1,
        "utils": 1,
        "btde": 1,
        "courtspot": 1,
        "pronounciation": 1,
        "scoresheet": 1,
        "network": 1,

        " (global variables) ": 1,
        "state": 1,
        "settings": 1,
        "networks": 1,
    },
    "extends": "eslint:recommended"
}