{
    "rules": {
        "indent": 0,
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        " (workaround for old eslint version) ": 1,
        "Uint8Array": 1,

        " (library names) ": 1,
        "$": 1,
        "jsPDF": 1,
        "Mousetrap": 1,
        "pdfform": 1,
        "saveAs": 1,
        "FastClick": 1,

        " (global variables) ": 1,
        "state": 1,
         "bup_version": 1
    },
    "extends": "eslint:recommended"
}