html, body {
	background: #f7f7fa;
	font-size: 16px;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}
html, body, button {
	font-family: 'Droid Sans', Arial, sans-serif;
}

.default-invisible {
	display: none;
}

.slim_form fieldset {
	border: none;
}


@media screen and (orientation: portrait) {
	.settings_login>button, .settings_login>input {
		display: block;
		font-size: 7vmin;
		margin: 2vmin auto 2vmin auto;
	}
}


.setup_players_manual {
	border-spacing: 0;
}
.setup_players_manual td, .setup_players_manual th {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.setup_players_manual input {
	padding-left: 0.4em;
}
#setup_manual_form th {
	text-align: left;
	padding-right: 0.5em;
}
.setup_players_vs {
	padding: 0 1em;
}
#setup_manual_form td[colspan="3"] input[type="text"] {
	width: 100%; width: calc(100% - 0.4em - 2px);
}

#setup_network_matches {
	margin: 0 -1.5vmin;
}
.setup_network_match {
	font-size: 2vmin;
	min-width: 20em;
	margin: 1.5vmin;
	padding: 1vmin 0vmin 1vmin 0vmin;
}
.setup_network_match_match_name {
	font-size: 4vmin;
}
.setup_network_match>span {
	display: block;
	text-align: center;
}
.setup_network_matches_loading>* {
	vertical-align: middle;
}
.setup_network_matches_loading>.loading-icon {
	margin-left: 1.5vmin;
	display: inline-block;
}
#setup_network_matches>.network_error {
	margin-left: 1.5vmin;
}
.setup_network_match_score {
	font-style: italic;
}
.setup_network_matches_reload {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 1vmin;
	background-image: url(icons/reload.svg);
	width: 4vmin;
	height: 4vmin;
	background-size: 100%;
	background-repeat: no-repeat;
}


.pick_dialog, .exception_dialog, #pronounciation {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	text-align: center;
	width: 40vw;
	min-width: 80vmin;
	max-width: 100vw;
	font-size: 4vh;
	margin: 0 auto;
	padding: 2vh 2vw 0 2vw;
	background: rgba(255, 255, 255, 0.9);
	border-top-left-radius: 4vh;
	border-top-right-radius: 4vh;
	z-index: 100;
}
.pick_dialog button {
	font-size: inherit;
	display: block;
	margin: 4vh 0 4vh 0;
	width: 100%;
	padding: 0.5em 0;
	white-space: pre-wrap;
}
.pick_dialog button+button {
	margin-top: 6vh;
}

.half-invisible {
	opacity: 0.3;
	z-index: 0 !important;
}
.nearly-invisible {
	opacity: 0.02;
}

.textsize-button {
	font-size: inherit;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}
.image-button {
	position: relative;
}
.image-button>span {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}


.modal-wrapper {
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10000;
	overflow: auto;
}

.auto-focused:focus {
	outline: none;
}


.cancel-button, .pick_dialog button.cancel-button {
	display: block;
	width: 100%;
	margin: 6vh 0 1vh 0;
	padding: 1vh 0 !important;
	font-size: 6vh;
}
.postmatch_options,.timer_container {
	position: absolute;
	right: 0;
	top: 18vh;
	background: rgba(255, 255, 255, 0.7);
	border-top-left-radius: 2vh;
	border-bottom-left-radius: 2vh;
	text-align: right;
}

.postmatch_options {
	padding: 3vh 1vh 3vh 3vh;
}
.postmatch_options>button {
	padding: 1.5vmin;
	font-size: 5vmin;
}
@media all and (orientation: portrait) {
	.postmatch_options {
		top: 35vh;
	}
}

.go_fullscreen_go>span {
	display: block;
	margin: 0 auto;
}
.go_fullscreen_go_icon {
	width: 20vmin;
	height: 20vmin;
	background-image: url(icons/go_fullscreen.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
