html, body {
	background: #f7f7fa;
	font-size: 16px;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}
html, body, button {
	font-family: 'Droid Sans', Arial, sans-serif;
}

.default-invisible {
	display: none;
}

.slim_form fieldset {
	border: none;
}

.setup_players_manual {
	border-spacing: 0;
}
.setup_players_manual td, .setup_players_manual th {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.setup_players_manual input {
	padding-left: 0.4em;
}
#setup_manual_form th {
	text-align: left;
	padding-right: 0.5em;
}
.setup_players_vs {
	padding: 0 1em;
}
#setup_manual_form td[colspan="3"] input[type="text"] {
	width: 100%; width: calc(100% - 0.4em - 2px);
}

#setup_network_matches {
	margin: 0 -1.5vmin;
}
.setup_network_match {
	font-size: 3vmin;
	min-width: 16em;
	margin: 1.5vmin;
	padding: 1vmin 0vmin 1vmin 0vmin;
}
.setup_network_match_match_name {
	font-size: 4vmin;
}
.setup_network_match>span {
	display: block;
	text-align: center;
}

#court_container {
}
#court {
	position: relative;
	width: 132vh;
	height: 60vh;
	max-width: 100vw; max-width: calc(100vw - 2px); /* border */
	max-height: 45.45vw;
	margin: 0 auto;

	font-size: 6vmin;
	margin: 0 auto;
	background-image: url(static/icons/court_small.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid #dadada;
}
#court span {
	background: rgba(194, 211, 194, 0.4);
}
#court_left_even, #court_left_odd, #court_right_even, #court_right_odd, #court_right_team, #court_left_team, #court_match_name, #court_court_name {
	position: absolute;
	text-align: center;
	font-size: inherit;
}
#court_right_team, #court_left_team  {
	color: #555555;
	font-size: 5vmin;
	top: 50%; transform: translate(0, -50%);
}

#court>#court_court_name>span, #court>#court_match_name>span {
	background: rgba(194, 211, 194, 0.8);
}
#court_court_name {
	color: #555555;
	font-size: 5vmin;
	top: 1%;
	left: 50%;
	transform: translate(-50%, 0);
}
#court_match_name {
	color: #555555;
	font-size: 5vmin;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%, 0);
}

#court_left_odd {
	left: 0%;
	right: 50%;
	bottom: 65.5%;
}
#court_left_team {
	left: 0%;
	right: 50%;
}
#court_left_even {
	left: 0%;
	right: 50%;
	top: 65.5%;
}
#court_right_even {
	left: 50%;
	right: 0%;
	bottom: 65.5%;
}
#court_right_team {
	left: 50%;
	right: 0%;
}
#court_right_odd {
	left: 50%;
	right: 0%;
	top: 65.5%;
}


#court_arrow {
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -7.5vh; margin-top: -7.5vh;
	width: 15vh; height: 15vh;
	background-image: url(static/icons/court_arrow.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 50;
}

.pick_dialog, .exception_dialog, #pronounciation {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	text-align: center;
	width: 40vw;
	min-width: 80vmin;
	max-width: 100vw;
	font-size: 4vh;
	margin: 0 auto;
	padding: 2vh 2vw 0 2vw;
	background: rgba(255, 255, 255, 0.9);
	border-top-left-radius: 4vh;
	border-top-right-radius: 4vh;
	z-index: 100;
}
.pick_dialog button {
	font-size: inherit;
	display: block;
	margin: 4vh 0 4vh 0;
	width: 100%;
	padding: 0.5em 0;
	white-space: pre-wrap;
}
.pick_dialog button+button {
	margin-top: 6vh;
}

#pronounciation {
	padding-top: 0;
}
#pronounciation>span {
	display: block;
	color: #444;
	white-space: pre-wrap;
	padding: 2vh 0 2vh 0;
}

#left_score, #right_score {
	position: absolute;
	font-size: 15vh;
	padding: 4vh;
	bottom: 1vh;
}
#left_score {
	left: 1vh;
}
#right_score {
	right: 1vh;
}

#score {
	text-align: center;
}
#score_table {
	background: #fcfcff;
	display: inline-table;
	margin-bottom: 1vh;
	border-collapse: separate;
    border-spacing: 0;

	margin-top: -2vh;
	padding-top: 2vh;
	border-radius: 2vh;
	border: 1px solid #dadada;
}
#score_table tr:last-child td:first-child {
	border-bottom-left-radius: 2vh;
}
#score_table tr:last-child td:last-child {
	border-bottom-right-radius: 2vh;
}

.score_announcements td {
	font-size: 2vh;
	height: 3vh;
	vertical-align: middle;
}
span.score_announcement+span.score_announcement {
	padding-left: 0.8em;
}
.score_finished-game td.score, .score_future-game td.score, .score_current-game td.score {
	vertical-align: middle;
	padding: 0 2vh;
	min-width: 1.6em;
	color: #444444;
}
.score_finished-game, .score_future-game {
	font-size: 3vh;
	line-height: 3vh;
	height: 3.5vh;
}
.score_current-game {
	font-size: 8vh;
	height: 8vh;
}
.score_empty {
	color: rgba(0, 0, 0, 0.05) !important;
}
.score_empty.score_serving {
	color: rgba(232, 97, 0, 0.2) !important;
}
.score_won {
	color: #000000 !important;
}
.score_serving {
	color: #e86100 !important;
}
.score_left {
	text-align: right;
}
.score_right {
	text-align: left;
}
.score_current-game>td.score_left {
	padding-left: 0;
	padding-right: 3vh;
}
.score_current-game>td.score_right {
	padding-left: 3vh;
	padding-right: 0;
}

.half-invisible {
	opacity: 0.3;
}
.nearly-invisible {
	opacity: 0.02;
}

.textsize-button {
	font-size: inherit;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}

.topleft_buttons>*,.topright_buttons>* {
	width: 12vmin;
	height: 12vmin;
	min-width: 10vh;
	min-height: 10vh;
	position: relative;
	vertical-align: top;
}
.image-button {
	position: relative;
}
.image-button>span {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}
.topleft_buttons, .topright_buttons {
	z-index: 1000;
	margin-bottom: 4vh;
}
.topleft_buttons {
	float: left;
}
.topright_buttons {
	float: right;
}

.topleft_buttons>*:not(:first-child), .topright_buttons>*:not(:first-child) {
	margin-left: 7vh;
}
#button_redo {
	position: absolute;
	left: 30vmin;
	top: 0;
}
@media all and (orientation: portrait) {
	.topleft_buttons>*:not(:first-child), .topright_buttons>*:not(:first-child) {
		margin-left: 3vh;
	}
	#button_redo {
		left: 38vmin;
	}
}
#shuttle_counter_value {
	font-size: 6vmin;
	position: absolute;
	top: 50%; transform: translate(0, -50%);
	right: 47%;
	text-align: right;
}

.topleft_buttons>* {
	margin: 1vh 0 0 1vh;
}
.topright_buttons>* {
	margin: 1vh 1vh 0 0;
}
#button_settings>span {
	background-image: url(static/icons/settings.svg);
}
#button_exception>span {
	background-image: url(static/icons/exception.svg);
}
#button_undo>span {
	background-image: url(static/icons/undo.svg);
}
#button_redo>span {
	background-image: url(static/icons/redo.svg);
}
#button_shuttle>span {
	background-image: url(static/icons/shuttle-button.svg);
}


.modal-wrapper {
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10000;
	overflow: auto;
}
#settings_wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

}
.settings_container {
	text-align: left;
	background: #ffffff;
	border-radius: 4vh;
	padding: 3vh;
}
.settings_container h2 {
	margin: 0;
}
.settings label {
	display: block;
}

.auto-focused:focus {
	outline: none;
}


.setup_loadmatch_list {
	margin: 0;
	font-size: 20px;
}
.load_match_link {
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
	padding: 0.3vh 0;
}
.button_delete>span {
	background-image: url(static/icons/delete.svg);
}

.exception_dialog {
	vertical-align: top;
	text-align: center;
}
.exception_dialog>div {
	display: inline-block;
	text-align: center;
	font-size: 3vmin;
	vertical-align: top;
	margin: 2vmin;
}
.exception_dialog>div>span {
	white-space: pre-wrap;
}
.exception_dialog>div>button {
	width: 20vmin;
	height: 20vmin;
	font-size: 16vmin;
	display: block;
}
#exception_yellow>span {
	background-image: url(static/icons/exception_yellow.svg);
}
#exception_red>span {
	background-image: url(static/icons/exception_red.svg);
}
#exception_black>span {
	background-image: url(static/icons/exception_black.svg);
}
.cancel-button, .pick_dialog button.cancel-button {
	display: block;
	width: 100%;
	margin: 2vh 0 1vh 0;
	padding: 1vh 0 !important;
	font-size: 6vh;
}

.yellow-card-image {
	text-align: middle;
	margin-right: 0.4em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(static/icons/yellow-card.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.postmatch_options,.timer_container {
	position: absolute;
	right: 0;
	top: 15vh;
	background: rgba(255, 255, 255, 0.7);
	border-top-left-radius: 2vh;
	border-bottom-left-radius: 2vh;
	min-width: 1.5em;
	text-align: right;
}
.timer_container {
	padding: 2vh 3vh 2vh 4vh;
	font-size: 20vmin;
}
.timer_exigent {
	color: #de0000;
	animation-duration: 6s;
	animation-name: timer_exigent_color;
}
@keyframes timer_exigent_color {
	from {
		color: #000;
	}

	to {
		color: #DE0000;
	}
}

.postmatch_options {
	padding: 3vh 1vh 3vh 3vh;
}
.postmatch_options>button {
	padding: 1.5vmin;
	font-size: 5vmin;
}
@media all and (orientation: portrait) {
	.postmatch_options {
		top: 35vh;
	}
}

.go_fullscreen_go>span {
	display: block;
	margin: 0 auto;
}
.go_fullscreen_go_icon {
	width: 20vmin;
	height: 20vmin;
	background-image: url(static/icons/go_fullscreen.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#waitprogress_message {
	background: #ffffff;
	border: 1vmin solid rgba(80, 80, 80, 0.9);
	font-size: 250%;
	padding: 0.5em 1em;
	border-radius: 1em;

	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.scoresheet_container>.scoresheet_buttons {
	position: absolute;
	font-size: 3vw;
	z-index: 100;
	bottom: 0.1vmin;
	padding: 0 0.1vmin;
	left: 0; right: 0;
}
.scoresheet_container>.scoresheet_buttons>button {
	margin: 0;
	font-size: inherit;
	padding: 0.1em 0.1em;
	min-width: 7em;
	opacity: 0.9;
}
.scoresheet_container>.scoresheet_buttons>button+button {
	margin-left: 2vw;
}
.scoresheet_button_back {
	display: block;
	float: right;
}

.scoresheet {
	background: #fff;
}
@media tv,projection,handheld,screen {
	.scoresheet {
		position: absolute;
		left: 0; top: 0;
		width: 100vw;
		height: 70.71067811865474vw; /* 100 / √2  (ratio of DIN A) */
		max-width: 141.4213562373095vh;
		max-height: 100vh;
	}
}
@media print{
	@page {
		size: landscape; size: landscape A4;
		margin: 0;
	}

	body,html {
		background: #ffffff;
	}

	.scoresheet {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
	}

	.only-screen {
		display: none;
	}
}
