[Unit]
Description=referee hub for Badminton Umprie Panel

[Service]
ExecStart=/usr/bin/env node /home/buphub/bup/refmode_hub/refmode_hub.js '{"port": 3001}'
Type=simple
User=buphub
Group=buphub

[Install]
WantedBy=mult
