[Unit]
Description=Referee Hub for Badminton Umpire Panel

[Service]
ExecStart=/usr/bin/env node BUP_ROOT_DIR/refmode_hub/refmode_hub.js '{"port": 3101}'
Type=simple
User=buphub
Group=buphub

[Install]
WantedBy=multi-user.target
